:root {
  --color-one: #f0cc95;
  --color-two: #f9ecd8;
  --color-three: #fcf5eb;

  --color-btn: #dd7a63;

  --color-text: #8d4e40;

  --font-one: Roboto;
  --font-two: Lora;
}

.Blue {
  --color-btn: blue;
  --color-three: lightblue;
  --color-text: white;
}

html {
  height: 100%;
}

body {
  color: var(--color-text);
  font-family: var(--font-one), sans-serif;
  background-color: #f2f2f2;
  height: 100%;
}

#appContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  margin: 1rem auto 1rem auto;
}

#mount {
  margin: 0 auto;
  /* box-shadow: 5px 5px 8px 0 rgba(208, 208, 208, 1); */
  width: 1024px;
  max-width: 1024px;
  height: 100%;
  background-color: var(--color-two);
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  padding: 0.5rem 1rem;

  background-color: var(--color-one);
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-size: 2rem;
}

footer {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-top: 2px solid var(--color-text);
  text-align: center;
}

footer a {
  font-weight: normal;
  font-size: 1rem;
  margin-top: 1rem;
  line-height: 1;
  color: var(--color-text);
}

.PageContainer {
  display: flex;
  padding: 2rem 6.25rem;
}

main {
  display: block;
  width: 75%;
  margin-right: 4rem;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

aside h1 {
  font-weight: normal;
}

button {
  background-color: var(--color-btn);
  color: var(--color-three);
  box-shadow: 2px 2px 2px 0px rgb(0, 0, 0, 0.16);
  padding: 0.5rem 1rem;

  font-weight: bold;

  cursor: pointer;
  outline: none;
}

button.small {
  font-size: 0.8rem;
  padding: 0.1rem 0.3rem;
}

button:hover,
button:active,
button:focus {
  outline: none;
}

button:hover {
  background-color: #e59b8a;
}

button:disabled {
  cursor: default;
  color: #e59b8a;
}

button:disabled:hover {
  background-color: var(--color-btn);
}

input {
  border: 1px solid var(--color-text);
  background-color: var(--color-three);
  color: var(--color-text);

  padding: 0 0.5rem;

  outline: none;
}

input:focus,
input:active,
input:hover {
  background-color: #fdfaf4;
}

.Badge {
  font-family: roboto;
  font-style: normal;
  font-size: 75%;
  text-decoration: none;
  background-color: #f0cc8f;
  border-radius: 2px;
  padding: 2px 4px;
  border: 0;
  margin-left: 5px;
  display: flex;
  align-items: center;
  height: 50%;
}

/* --------------------------------------------------------------------------------------------------------- */
/*   Spinner                                                                                                 */
/* --------------------------------------------------------------------------------------------------------- */
/* taken from: http://tobiasahlin.com/spinkit/ */

.Spinner {
  margin: auto 0;
  width: 100%;
  text-align: center;
  padding: 2rem;
}

.Spinner h1 {
  font-size: 1.5rem;
}

.Spinner > .bounce {
  width: 12px;
  height: 12px;
  margin-right: 5px;
  background-color: var(--color-text);

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.Spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.Spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* --------------------------------------------------------------------------------------------------------- */
/*   Tabs                                                                                                    */
/* --------------------------------------------------------------------------------------------------------- */

.Tabs .TabBar a.Tab {
  font-size: 1.25rem;
  text-decoration: none;

  border-bottom: 1px solid var(--color-text);

  cursor: pointer;
  margin-right: 1.5rem;
  padding-right: 0.3rem;
  font-weight: lighter;
}

.TabBar {
  display: flex;
}

/* avoid moving due to thicker font on hover: https://stackoverflow.com/a/20249560/6134498 */
.Tabs .TabBar a.Tab::after {
  display: block;
  content: attr(title);
  height: 0;
  overflow: hidden;
  visibility: hidden;

  border-bottom: 2px solid var(--color-text);
  font-weight: normal;
}

.Tabs .TabBar a.Tab.active,
.Tabs .TabBar a.Tab:hover {
  border-bottom: 2px solid var(--color-text);
  font-weight: normal;
}

.Tabs .TabPanel {
  margin-top: 2rem;
}

/* --------------------------------------------------------------------------------------------------------- */
/*   MessageContainer                                                                                        */
/* --------------------------------------------------------------------------------------------------------- */
.MessageContainer {
  /* display: flex;
  flex-direction: column;
  align-items: flex-end; */

  overflow-y: scroll;
  height: calc(100vh - 23rem);

  padding-right: 1rem;
}

.MessageContainer::-webkit-scrollbar-track {
  background-color: var(--color-three);
}

.MessageContainer::-webkit-scrollbar {
  width: 10px;
  background-color: var(--color-two);
}

.MessageContainer::-webkit-scrollbar-thumb {
  background-color: var(--color-one);
}

.Box {
  background-color: var(--color-three);

  padding: 0.5rem 1rem;
  margin-bottom: 1rem;

  border: 1px solid var(--color-one);
  box-shadow: 2px 2px 2px 0px rgb(0, 0, 0, 0.16);
}

.Message {
  display: flex;
  align-items: flex-start;

  font-family: "Lora";
  font-style: italic;
  font-size: 1rem;
}
.Message h1 {
  font-size: 1rem;
  text-decoration: underline;
  margin-bottom: 0;

  font-weight: normal;
}

.Message.Anonymous {
  justify-content: center;

  font-family: roboto;
  font-style: normal;
  font-size: 0.9rem;
}

.Message.Anonymous em {
  font-style: normal;
  text-decoration: underline;
}

.Message p {
  margin-bottom: 0;
}

.Message .Avatar {
  width: 3rem;
  margin-right: 1rem;
}

.ChatroomPanelFooter {
  margin-top: 2rem;
}

/* --------------------------------------------------------------------------------------------------------- */
/*   AddMessage                                                                                        */
/* --------------------------------------------------------------------------------------------------------- */

.AddMessage {
  display: flex;
  align-items: flex-end;
}
.AddMessage .Avatar {
  width: 4rem;
  margin-right: 1rem;
}

.AddMessage label {
  display: block;
  margin-bottom: 0.3rem;
}

.Form {
  flex: 1;
}

.AddMessage .InputWithButton {
  display: flex;
}
.AddMessage .InputWithButton input {
  flex: 1 1 auto;
  margin-right: 0.5rem;
}

.Modal {
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(109, 118, 126, 0.9);
  /* opacity: 0;
  visibility: hidden; */
  opacity: 1;
  visibility: visible;
}

.ModalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-three);
  width: 32rem;
}

.ModalContent header h1 {
  font-size: 1.5rem;
}

.ModalContent main {
  padding: 1rem;
  width: 100%;
}

.FormGroup {
  margin-bottom: 2rem;
}

.Form input {
  width: 100%;
  padding: 0.5rem;
}

.Form h1 {
  font-size: 1.5rem;
}

.ButtonBar {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
}

.ButtonBar button {
  margin-left: 2rem;
}

.UserProfile {
  display: flex;
  align-items: center;
}

.UserProfile .Avatar {
  width: 2rem;
  margin-right: 1rem;
}
